body {
	background-color: #fafafa;
}

.inside-main{
	padding-top: 40px;
}

.products-banner {
	background-image: url(../img/products_banner.jpg);
}

.flow-list {
	background-color: #fff;
	border-radius: 20px;
	padding: 70px 80px;
	margin-bottom: 48px;
}

.flow-list .flow-icon {
	width: 55px;
	height: 50px;
	margin: 0 auto;
}


.flow-list .flow-next-icon {
	background: url(../img/flow6.png) center center no-repeat;
	width: 18px;
	height: 16px;
}

.flow-item .flow-title {
	font-size: 20px;
	color: #333333;
	margin-top: 15px;
}

.flow-item .flow-name {
	font-size: 14px;
	color: #777777;
	margin-top: 12px;
}


.product-item {
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	width: 100%;
	max-width: 676px;
	margin-bottom: 48px;
}

.product-item .product-img {
	width: 100%;
	max-width: 338px;
	height: 194px;
}

.product-item .product-info {
	padding: 32px;
	width: 100%;
	box-sizing: border-box;
}

.product-item .product-name {
	font-size: 20px;
	color: #333333;
	border-bottom: dashed 1px #a8a8a8;
	padding-bottom: 18px;
}

.product-item .product-btn {
	width: 128px;
	height: 34px;
	line-height: 34px;
	background-color: #f4f4f4;
	border-radius: 17px;
	border: solid 1px #cccccc;
	text-align: center;
	color: #999999;
	font-size: 14px;
	margin-top: 50px;
}

.product-item .product-btn::after {
	content: '';
	border: solid #cccccc;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
	margin-left: 5px;
}


.products-filter {
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 48px;
	padding-bottom: 40px;
}

.products-filter .filter-head {
	width: 100%;
	height: auto;
	background-color: #312f30;
	box-sizing: border-box;
	padding: 20px 70px;
	color: #ffffff;
}

.filter-head .filter-label{
	margin-right: 80px;
	flex-shrink: 0;
}


.filter-head .filter-list .filter-item{
	margin:0 20px;
}

.filter-head .filter-list .filter-item a{
	color: #fff;
}

.filter-head .filter-list .filter-item a.active,
.filter-head .filter-list .filter-item a:hover{
	color: #f38001;
}

.products-filter .filter-content {
	padding: 0 70px;
}

.products-filter .filter-content .filter-row{
	padding: 18px 0;
	border-bottom: dashed 1px #a8a8a8bf;
	background: url(../img/filter_icon.png)0px 22px no-repeat;
	padding-left: 68px;
}

.products-filter .filter-content .filter-row:last-of-type{
	border: none;
}

.products-filter .filter-content .filter-label{
	margin-right: 40px;
}

.products-filter .filter-content .filter-list{
	width: calc(100% - 72px);
}

.products-filter .filter-content .filter-item{
	margin:0 20px;
}

.products-filter .filter-content .filter-item a{
	color: #777777;
}

.products-filter .filter-content .filter-item a.active,
.products-filter .filter-content .filter-item a:hover{
	color: #007e94;
}

.products-filter .filter-content,
.filter-head{
	line-height: 26px;
}


/* ipad or 移动端 */
@media screen and (max-width: 1400px) {
	.flow-list{
		padding: 70px 40px;
	}
	.product-item{
		max-width: 100%;
	}
	.product-item a{
		height: 100%;
	}
}

/* 移动端 */
@media screen and (max-width: 767px) {
	.filter-head .filter-label{
		margin-right: 14px;
	}
	.products-filter .filter-head{
		padding: 20px;
	}
	.products-filter .filter-content{
		padding: 0 20px;
	}
	.products-filter .filter-content .filter-row{
		padding-left: 0;
		background: none;
	}
	.flow-list{
		display: none;
	}
	.product-item{
		margin-bottom: 20px;
		height: calc(100vw / 2.11 / 1.74);
	}
	.product-item .product-img{
		height: 100%;
	}
	.product-item .product-info{
		padding: 12px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.product-item .product-name{
		font-size: 16px;
	}
	.product-item .product-btn{
		font-size: 12px;
		width: 100px;
		height: 24px;
		line-height: 24px;
		margin-top: 0;
	}
}