
.shop-banner {
	background-image: url(../img/shop_banner.jpg);
}

.shop-list {
	padding-top: 60px;
	padding-bottom: 120px;
	background-color: #fafafa;
}

.shop-list .shop-item {
	width: 100%;
	height: auto;
	padding: 48px;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
}

.shop-list .shop-item+.shop-item{
	margin-top: 48px;
}

.shop-list .shop-item .shop-img {
	width: 100%;
	max-width: 628px;
	height: 360px;
	border-radius: 20px;
}

.shop-list .shop-item .shop-info {
	width: 100%;
	max-width: calc(100% - 676px);
	/* margin-left: 48px; */
}

.shop-list .shop-item .shop-name {
	font-size: 30px;
	color: #333333;
	margin-bottom: 40px;
}

.shop-list .shop-item .shop-tel {
	font-weight: bold;
	font-size: 25px;
	color: #007e94;
	margin-bottom: 20px;
	background: url(../img/shop_phone.png)left center no-repeat;
	padding-left: 35px;
}

.shop-list .shop-item .shop-address {
	font-size: 16px;
	line-height: 36px;
	color: #666666;
	padding-bottom: 40px;
	border-bottom: solid 1px #e5e5e5;
}

.shop-list .shop-item .navigation {
	font-size: 16px;
	line-height: 36px;
	color: #aaaaaa;
	margin-top: 100px;
	background: url(../img/shop_address.png)left center no-repeat;
	padding-left: 26px;
	cursor: pointer;
}



.footer{
	margin-top: 0;
}

/* ipad or 移动端 */
@media screen and (max-width: 1400px) {
	.shop-list .shop-item .shop-img{
	   max-width:calc(100vw / 2.22);
	   height: calc(100vw / 2.22 / 1.74);
	}
	.shop-list .shop-item .shop-info{
		max-width: calc(100% - 30px - 100vw / 2.22);
	}
	.shop-list .shop-item{
		padding: 20px;
	}
	.shop-list .shop-item .shop-name{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.shop-list .shop-item .shop-tel{
		font-size: 15px;
		margin-bottom: 10px;
	}
	.shop-list .shop-item .shop-address{
		font-size: 12px;
		padding-bottom: 20px;
	}
	.shop-list .shop-item .navigation{
		font-size: 14px;
		margin-top: 40px;
	}
	.shop-list .shop-item+.shop-item{
		margin-top: 20px;
	}
}

/* 移动端 */
@media screen and (max-width: 767px) {
	.shop-list .shop-item .shop-img{
	   max-width:100%;
	   height: calc(100vw / 1.74);
	}
	.shop-list .shop-item .shop-info{
		max-width: 100%;
	}
	.shop-list .shop-item{
		padding: 20px;
	}
	.shop-list .shop-item .shop-img{
		margin-bottom: 20px;
	}
	
}